{{> layout}}
{{> header}}
{{> nav}}

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            Valores
        </h3>
    </div>
    
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">


  <form id="useradd" action="/valores/add" method="post" class="needs-validation was-validated" novalidate>
    <table class="table">
      <thead>
        <tr>
          {{#each headerlist}}
            <th scope="col">{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each datalist}}
          <tr>
            <td>{{this.id_valor}}</td>
            <td>{{this.estado}}</td>
            <td>{{this.TipoVehiculo}}</td>
            <td>{{this.TipoFacturacion}}</td>
            <td>
              <input type="text"
                     class="form-control w-auto d-inline-block"
                     name="{{this.id_valor}}"
                     id="{{this.id_valor}}"
                     placeholder="123"
                     autocomplete="off"
                     required
                     value="{{this.valor}}">
              <div class="valid-feedback">ok!</div>
              <div class="invalid-feedback">Asigne un valor.</div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Botones abajo, centrados -->
    <div class="text-center mt-4">
      <button class="btn btn-success me-2" name="estado" type="submit" value="Ingresar" id="ingresar">Guardar</button>
    </div>
  </form>



            </div>
        </div>

    </div>


</section>



{{> footer}}
