{{> layout}}
{{> header}}
{{> nav}}
<div class="container-xx3">

{{#if agregar}}
  <a href="/{{base}}/add"><td><button class="btn btn-primary">Agregar</button></td></a>
{{/if}}



<table class="table">
  <thead>
    <tr>
    {{#each headerlist}}
        <th scope="row">{{this}}</th>
    {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datalist}}
        <tr>
        <td>{{this.id}}</td>
        <td>{{this.estado}}</td>
        <td>{{this.relacion}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.fechainicio}}</td>
        <td>{{this.fechafin}}</td>
        <td>{{this.valor}}</td>
        <td>
          <a href="{{base}}/remove/{{this.id}}">
            <button class="btn btn-danger">Delete</button>
          </a>

          <a href="{{base}}/pagar/{{this.id}}">
            <button class="btn btn-success">pagar</button>
          </a>

        </td>
        </tr>
    {{/each}}

  </tbody>
</table>

</div>

{{> footer}}