{{> layout}}
{{> nav}}
<div class="container-xx3">
<a href="/user">List</a>

{{#if data.userid}}
  <form  id="useradd" action="/user/myprofile" method="post" class="needs-validation was-validated" novalidate>
{{else}}
  <form  id="useradd" action="/user/add" method="post" class="needs-validation was-validated" novalidate>
{{/if}}



  <div class="form-group">
    <label for="nombres">Nombres</label>
    <input type="text" class="form-control" name="nombres" id="nombres" placeholder="pedro pepito" autocomplete="off" required value="{{data.nombres}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un nombre.
    </div>
  </div>

  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="perez pascal" autocomplete="off" required  value="{{data.apellidos}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un Apellidos.
    </div>
  </div>

  <div class="form-group">
    <label for="correo">Correo</label>
    <input type="email" class="form-control" name="correo" id="correo" placeholder="name@example.com" autocomplete="off" required value="{{data.correo}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un Correo.
    </div>
  </div>

  <div class="form-group">
    <label for="documento">Documento</label>
    <input type="number" class="form-control" name="documento" id="documento" placeholder="123456789" autocomplete="off" required value="{{data.documento}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un Documento.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="password" autocomplete="off" required value="{{data.password}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione una contraseña.
    </div>
  </div>

{{#if data.userid}}
    <input type="hidden" name="userid" id="userid" placeholder="userid" value="{{data.userid}}">
    <diV>
        <a>
            <button class="btn btn-primary"  type="submit" value="Ingresar" id="ingresar">guardar</button>
        </a>
    </diV>

{{else}}
    <diV>
        <a>
            <button class="btn btn-primary"  type="submit" value="Ingresar" id="ingresar">Crear</button>
        </a>
    </diV>
{{/if}}

</form>

</div>

{{> footer}}