

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            Agregar Usuarios
        </h3>
    </div>
    <br>

    <div class="container text-center my-3">
        <a class="btn btn-primary" href="/user">
            Lista <i class="fa-solid fa-list ms-2"></i>
        </a>
    </div>

    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">


{{#if data.id_usuario}}
  <form  id="useradd" action="/user/myprofile" method="post" class="needs-validation" novalidate>
{{else}}
  <form  id="useradd" action="/user/add" method="post" class="needs-validation" novalidate>
{{/if}}
  <div class="form-group">
    <input type="text" class="form-control" name="nombres" id="nombres" placeholder="Nombres" autocomplete="off" required value="{{data.nombres}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un nombre.
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Apellidos" autocomplete="off" required  value="{{data.apellidos}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un Apellidos.
    </div>
  </div>

  <div class="form-group">
    <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo" autocomplete="off" required value="{{data.correo}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un Correo.
    </div>
  </div>


  <div>
      <select name="tipo_documento" id="tipo_documento">
      <option value="" disabled selected>Tipo de documento</option>
      {{#each tiposDocumentos}}
          <option value="{{this.id_tipo_documento}}">{{this.nombre_estado}}</option>
      {{/each}}
      </select>
  </div>

  <div>
      <select name="id_rol" id="id_rol">
      <option value="" disabled selected>Tipo de Usuario</option>
      {{#each roles}}
          <option value="{{this.id_rol}}">{{this.nombre}}</option>
      {{/each}}
      </select>
  </div>

  <div class="form-group">
    <input type="number" class="form-control" name="documento" id="documento" placeholder="Documento" autocomplete="off" required value="{{data.documento}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione un Documento.
    </div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" autocomplete="off" required value="{{data.password}}">
    <div class="valid-feedback">
      ok!
    </div>
    <div class="invalid-feedback">
      Seleccione una contraseña.
    </div>
  </div>

{{#if data.userid}}
    <input type="hidden" name="userid" id="userid" placeholder="userid" value="{{data.userid}}">
    <diV>
        <a>
            <button class="btn btn-primary"  type="submit" value="Ingresar" id="ingresar">guardar</button>
        </a>
    </diV>

{{else}}
    <diV>
        <a>
            <button class="btn btn-primary"  type="submit" value="Ingresar" id="ingresar">Crear</button>
        </a>
    </diV>
{{/if}}


                </form>


            </div>
        </div>

    </div>
</section>


