{{> layout}}
{{> header}}
{{> nav}}

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            Parqueaderos {{data.nombre_proyecto}}
        </h3>
    </div>
    <br>

    <div class="container text-center my-3">
        <a class="btn btn-primary" href="/parqueadero/add">
            Agregar <i class="fa-solid fa-list ms-2"></i>
        </a>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">

<table class="table">
  <thead>
    <tr>
    {{#each headerlist}}
        <th scope="row">{{this}}</th>
    {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datalist}}
        <tr>
        <td>{{this.id_parqueadero}}</td>
        <td>{{this.estado}}</td>
        <td>{{this.tipoVehiculo}}</td>
        <td>{{this.tipoUsuario}}</td>
        <td>{{this.capacidad}}</td>
        <td>{{this.ocupacion}}</td>
        <td>{{this.disponibles}}</td>
        <td>          
          <a href="/parqueadero/edit/{{this.id_parqueadero}}">
            <button class="btn btn-success">Editar</button>
          </a>
        </td>

        </tr>
    {{/each}}

  </tbody>
</table>



            </div>
        </div>

    </div>


</section>


{{> footer}}