
{{> header}}

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            Proyectos
        </h3>
    </div>
    
    <div class="container text-center my-3">
        <a class="btn btn-primary" href="/proyecto/add">
            Agregar <i class="fa-solid fa-plus ms-2"></i>
        </a>
    </div>

    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">


                <table class="table">
                <thead>
                    <tr>
                    {{#each headerlist}}
                        <th scope="row">{{this}}</th>
                    {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each datalist}}
                        <tr>
                          <td>{{this.id_proyecto}}</td>
                          <td>{{this.nombre_proyecto}}</td>
                          <td>{{this.estado}}</td>
                          <td>{{this.correo}}</td>
                          <td>{{this.createdAt}}</td>
                          <td>{{this.telefono}}</td>
                          <td>
                            <a href="/proyecto/editar/{{this.id_proyecto}}">
                              <button class="btn btn-success">Editar</button>
                            </a>
                          </td>
                        </tr>
                    {{/each}}

                </tbody>
                </table>



            </div>
        </div>

    </div>
</section>



