


<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            Vehiculo {{data.placa}}
        </h3>
    </div>
    <br>

    <div class="container text-center my-3">
        <a class="btn btn-primary" href="/vehiculo">
            Lista <i class="fa-solid fa-list ms-2"></i>
        </a>
    </div>

    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">

<form  id="useradd" action="/vehiculo/add" method="post" class="needs-validation was-validated" novalidate>


  <div class="form-group">

    <input type="text" class="form-control" name="placa" id="placa" placeholder="placa" autocomplete="off" required value="{{data.placa}}">

  </div>

  <div>
      <select name="tipovehiculo" id="tipovehiculo">
      <option value="" disabled selected>Tipo de Vehiculo</option>
      {{#each tiposVehiculo}}
            <option value="{{this.id_tipo_vehiculo}}">{{this.nombre_estado}}</option>
      {{/each}}
      </select>
  </div>

  <div>
      <select name="tipofacturacion" id="tipofacturacion">
      <option value="" disabled selected>Tipo de Facturacion</option>
      {{#each tiposFacturacion}}
            <option value="{{this.id_tipo_facturacion}}">{{this.nombre_estado}}</option>
      {{/each}}
      </select>
  </div>

  <div class="form-group">

    <input type="text" class="form-control" name="parqueadero_asignado" id="parqueadero_asignado" placeholder="Parqueado asignado" autocomplete="off" value="{{data.parqueadero_asignado}}">

  </div>


  <div>
      <select name="tipousuario" id="tipousuario">
      <option value="" disabled selected>Tipo de Usuario</option>
      {{#each tiposUsuario}}
            <option value="{{this.id_tipo_usuario}}">{{this.nombre_estado}}</option>
      {{/each}}
      </select>
  </div>





    <diV>
        <a>
            <button class="btn btn-primary"  type="submit" value="Ingresar" id="ingresar">Crear</button>
        </a>
    </diV>

</form>


            </div>
        </div>

    </div>
</section>




