{{> layout}}
{{> header}}
{{> nav}}
<div class="container-xx3">
<a href="/movimientos/add"><td><button class="btn btn-primary">Agregar</button></td></a>

<table class="table">
  <thead>
    <tr>
    {{#each headerlist}}
        <th scope="row">{{this}}</th>
    {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datalist}}
        <tr>
        <td>{{this.id}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.estado}}</td>
        <td>{{this.createdAt}}</td>
        </tr>
    {{/each}}

  </tbody>
</table>

</div>

{{> footer}}