{{> layout}}
{{> header}}
{{> nav}}
<div class="container-xx3">
<a href="/user/add">Add</a>

<table class="table">
  <thead>
    <tr>
    {{#each headerlist}}
        <th scope="row">{{this}}</th>
    {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datalist}}
        <tr>
        <td>{{this.id}}</td>
        <td>{{this.estado}}</td>


        <td>{{this.nombres}}</td>
        <td>{{this.apellidos}}</td>
        <td>{{this.correo}}</td>
        <td>{{this.documento}}</td>
        </tr>
    {{/each}}

  </tbody>
</table>

</div>

{{> footer}}